/* Pure CSS MODAL */

.modal__close {
  color: var(--text-light-color);
  font-size: 30px;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 0;
}

.modal__close:hover {
  color: var(--text-color);
}

.modal:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.modal:target:before {
  display: block;
}

.modal:target .modal__dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  top: 20%;
}

.modal__dialog {
  margin-left: -150px;
  width: 280px;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  position: fixed;
  left: 50%;
  top: -100%;
  z-index: 11;
  -webkit-transform: translate(0, -500%);
  -ms-transform: translate(0, -500%);
  transform: translate(0, -500%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

@media (min-width:769px) {
  .modal__dialog {
    margin-left: -400px;
    width: 800px;
  }
}

.modal__body {
  padding: 10px 20px;
  height: 200px;
  max-height: 200px;
  overflow-y: scroll;
}

.modal__header,
.modal__footer {
  padding: 10px 20px;
}

.modal__header {
  border-bottom: 1px solid var(--border-color);
}

.modal__header h2 {
  font-size: 20px;
}

.modal__footer {
  border-top: 1px solid var(--border-color);
  text-align: right;
  font-size: x-small;
}

/* ------- EOF ------- */
